@model IEnumerable<Complex742.Models.Equipments.TypeEquipment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nameType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.typeEquipmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.typeEquipmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.typeEquipmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
